#legend {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 12px;
  font-weight: bold;
  border-radius: 20px;
  max-width: 420px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}